#dateSelectorContainer div {
    width: fill;
    height: 80px;
    /*background-color: red;*/
    border-radius: 10px;
    margin: 4px;
    text-align: center;
    color: white;
}

.selected {
    background-color: #303134;
}

#dateSelectorContainer {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}